@{
    ViewData["Title"] = "Login";
}

<style>
    input.largerLoginButton {
        color: dodgerblue;
        border-style: outset;
        border-color: dodgerblue;
        height: 100px;
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        width: 300px;
    }
</style>


<h1>Forgot Username or Password*</h1>
<form>
    <br />

    <div>
        <label>Email</label><br />
        <input type="text" id="Email" name="Email" placeholder="Enter in your Email" />
    </div> <br />

    <div>
        <label>Your Initials</label><br />
        <input type="text" id="Email" name="Email" placeholder="Enter in your Initials" />
    </div> <br />

    <div>
        <input type="submit" id="signup" name="signup" value="Recover" class="largerLoginButton" />
    </div> <br />
</form>

<p>*You will receive both your username and password at the email</p>
<p>above IF the email and initials match within our database.</p>
