@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Segoe UI'"><i><strong>FAZE*</strong></i></h1>
    <h2>Share the joy of Fishing</h2>
    <h3>From Novice to Expert</h3>
    <p style="font-size: 10px">*Like WAZE but for fishing.</p>
    <p>Learn about<a href="https://github.com/joeslee94/faze" target="_blank"> FAZE's journey</a>.</p>
</div>
